body {
    height: 100vh;
    background-image: url("../IMG/background-_1__1.webp");
    background-size: cover;
    background-position: 90% 0;
}

.qr_code {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}

.qr_code img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  16px 16px 32px #201f1f, -16px -16px 32px #4e4b4b;
}

.img_container_content {
    display: flex;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 0;
}

  .framed {
    margin: 5px; /* Adjust as needed */
    border: 2px solid black; /* Add a border for framing effect */
  }

  img.framed {
    box-shadow:
      -50px -50px 0 -40px var(--red),
      50px 50px 0 -40px var(--red);
  }