body{
    height: 100vh;
    background-image: url("../IMG/background-_1__1.webp");
    background-size: cover;
    background-position: 90% 0;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    margin-left: 5vw;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}

.game-button{
    width: 90%;
    height: 30%;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.game-button:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: white;
}