body{
    height: 100vh;
    background-image: url("../IMG/background-_1__1.webp");
    background-size: cover;
    background-position: 90% 0;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    margin-left: 5vw;
}

.button-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}

#item-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #373535;
    border-width: 5px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to bottom right,
                    #00E6F6,
                    #e0f9ff
            ) 1 1;
    border-radius: 10px;
}

#item-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #373535;
    border-width: 5px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to left,
                    #8fe507,
                    #ebffd2
            ) 1 1;
    border-radius: 10px;
}

#item-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #373535;
    border-width: 5px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to top right,
                    #C14168,
                    #ffcedb
            ) 1 1;
    border-radius: 10px;
}

p{
    margin-top: 20%;
}

.game-button{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.game-button:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: white;
}