#stage {
    max-width: 412px;
    height: 914px;
    background-image: url(../IMG/space.jpg);
}

#kong {
    position: absolute;
    top: 500px;
    left: 75px;
    width: 200px;
    height: 200px;
    background-image: url(../IMG/spaceship.png);
    background-repeat: no-repeat;
    background-size: contain;

    
    height: 240px;
}

#banana {
    position: absolute;
    top: 650px;
    left: 50px;
    width: 60px;
    height: 60px;
    opacity: 0;
    background-image: url(../IMG/bullet.webp);
    background-repeat: no-repeat;
    background-size: contain;
}


h1 {
    padding: 0px;
    margin: 0px;
    line-height: 50px;
}

#stage{
    overflow-y: hidden;
    overflow-x: hidden;
}



