
#board {
    background-color: black;
}

#leftButton {
    border: none;
    width: 75px;
    height: 75px;
    background-color: transparent;
    color: red;
    margin: 0 5px;
}
#rightButton {
    border: none;
    width: 75px;
    height: 75px;
    background-color: transparent;
    color: blue;
    margin: 0 5px;
}
#shoot {
    border: none;
    width: 75px;
    height: 75px;
    background-color: transparent;
    color: green;
    margin: 0 5px;
}


canvas {
    display: block;
}



#canvas-container {
    position: relative;
    text-align: center;
}

#buttons-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 22%;
    transform: translateX(-50%);
}

