body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-image: url("../IMG/background-_1__1.webp");
    background-size: cover;
    background-position: 90% 0;
}

.hero-img img{
    width: 100vw;
    height: 98vh;
}

.hero-text{
    text-align: center;
    color: #A7CD48;
    font-family: "Changeling Neo W01 Bold";
}

.main-text{
    width: 50%;
    margin-left: 25%;

    font-family: 'century-gothic-bold', sans-serif;
    color: #A7CD48;
}

@media screen and (max-width: 600px) {
    .main-text{
        width: 90%;
        margin-left: 5%;
    }
}

.masthead {
    height: 30vh;
    min-height: 400px;
    background-image: url('../IMG/Untitled.png');
    background-size: cover;
    background-position: 45% 50%;
    background-repeat: no-repeat;
  }