body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-image: url("../IMG/background-_1__1.webp");
    background-size: cover;
    background-position: 90% 0;
}

<<<<<<< Updated upstream
.hero-img img{
    width: 100vw;
    height: 98vh;
}

.hero-text{
    text-align: center;
    color: #A7CD48;
    font-family: "Changeling Neo W01 Inline";
}

.main-text{
    width: 50%;
    margin-left: 25%;

    font-family: 'century-gothic-bold', sans-serif;
    color: #A7CD48;
}

@media screen and (max-width: 600px) {
    .main-text{
        width: 90%;
        margin-left: 5%;
    }
}

.masthead {
    height: 30vh;
    min-height: 400px;
    background-image: url('../IMG/Untitled.png');
    background-size: cover;
    background-position: 45% 50%;
    background-repeat: no-repeat;
=======

@media only screen and (max-width: 412px) and (max-height: 914px) {
  .game-button{
    margin-left:15%;
    width:70%;
>>>>>>> Stashed changes
  }

  .timer {
    justify-content: center; /* For flex containers */
    text-align: center; /* For non-flex containers */
    display: flex; /* For flex containers */
    align-items: center; /* For flex containers */
    font-family: 'Changeling Neo W01 Bold';
    color: #A7CD48;
    background: rgba(4, 4, 4, 0.36);
    border-radius: 10px;
    padding: 30px;
    width: 40%;
    margin: 0 auto; /* Horizontal centering using margin */
}

@media only screen and (max-width: 890px){
    .timer {
        width: 90%;
    }
}
