
body{     
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (max-width: 412px) and (max-height: 914px) {
  .game-button{
    margin-left:15%;
    width:70%;
  }
}

.nameee {
    text-align: center;
    margin-bottom: 5px;
    font-family: "Changeling Neo W01 Bold"; 
    color: #a7cd48;
    margin-top: 10vh;
    letter-spacing: 20px;
    font-size: 300%;
    position: relative;
}

.nameee::after {
  background: #d13cfa;
  background: linear-gradient(to right, transparent 0%, #d13cfa 50%, transparent 100%);  
  content: "";
  position: absolute;
  bottom: -5vh;
  left: 0;
  height: 10px;
  width: 100%;
}

#info {
    text-align: center;
    margin-bottom: 5px;
    font-family: "Changeling Neo W01 Bold"; 
    color: #a7cd48;
    margin-top: 10vh;
    letter-spacing: 20px;
    font-size: 150%;
    position: relative;
}


#item-1{
  background-color: #373535;
  border-width: 5px;
  border-style: solid;
  border-image:
      linear-gradient(
          to bottom right,
          #d13cfa,
          #8fe507
      ) 1 1;
  -webkit-mask: 
          linear-gradient(#fff 0 0);
}



#item-1 div p{
  font-family: "Changeling Neo W01 Bold"; 
  color: #a7cd48;
  letter-spacing: 5px;
  font-size: 100%;
  margin: auto;
}

.game-button{
  
  margin-top:20vh;
  margin-right: auto;
  margin-left: auto;
  width:300px;
  height: 75px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}


.game-button:hover{
  transform: scale(1.1);
}

a{
  text-decoration: none;
  color: white;
}

