body {
    height: 100vh;
    /*background: linear-gradient(150deg, rgba(143, 81, 144, 1) 2%, rgba(167, 205, 72, 1) 29%, rgba(193, 65, 104, 1) 55%, rgba(188, 86, 55, 1) 61%, rgba(223, 199, 54, 1) 86%, rgba(81, 153, 191, 0.86) 100%);*/
    background-image: url("../IMG/background-_1__1.webp");    
    background-size: cover;
    background-position: 90% 0;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    
}

.container{
    display: flex;
            justify-content: center;
            align-items: center;

            margin: auto;
            height: 80vh;
           
        
}

#knoppen {
    text-align: center;
    
}

#input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 30vw;
    text-align: center;
    font-family: inherit;
    color: #212529;
    font-weight: 400;
    font-size: 1.25rem;
}

#button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
   
}

#button:hover {
    background-color: #45a049;
}

.vormpje1{
    margin-bottom: 200px;
    margin-left: 100px;
}
.vormpje4{
    margin-top: 100px;
    margin-left: 205px;

}
.vormpje5{
    margin-top: 50px;
    margin-right: 300px;
}
.vormpje6{
    margin-top: 100px;
    margin-left: 250px;
}